@font-face {
    font-family: 'anime';
    src: url('/static/fonts/Anime.otf');
}

h1 {
    font-family: 'anime';
}

div.customPopup {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    position: absolute;
    z-index: 1;
}